


// Bootstrap

@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
//@import '~bootstrap/scss/bootstrap';

body {
  font-size: 14px;
  font-weight: normal;
}
nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}
nav.nav-item{margin-right: 20px;}
li{margin-right: 10px;}